In [6]:
%reload_kedro

/home/cesarolivera/anaconda3/envs/v37/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

2020-11-20 18:20:28,364 - root - INFO - ** Kedro project aa_project
2020-11-20 18:20:28,365 - root - INFO - Defined global variable `context` and `catalog`
2020-11-20 18:20:28,381 - root - INFO - Registered line magic `run_viz`

In [2]:
context

In [7]:
context.io.list()

['example_iris_data',
 'oxigeno.csv',
 'parameters',
 'params:example_test_data_ratio',
 'params:example_num_train_iter',
 'params:example_learning_rate']

In [8]:
df = context.io.load('oxigeno.csv')

2020-11-20 18:20:33,752 - kedro.io.data_catalog - INFO - Loading data from `oxigeno.csv` (CSVDataSet)...

In [9]:
df

                  FECHA  E. WESTE  BLUMAR  EDWARDS
0      01-01-2019 00:00     83.00   86.70    78.81
1      01-01-2019 01:00     81.07   84.63    80.66
2      01-01-2019 02:00     80.16   84.10    82.09
3      01-01-2019 03:00     79.37   81.81    82.09
4      01-01-2019 04:00     80.54   81.12    82.34
...                 ...       ...     ...      ...
15895  23-10-2020 20:00     99.08  104.85    88.49
15896  23-10-2020 21:00     99.39  104.40    88.28
15897  23-10-2020 22:00    100.05  105.41    88.65
15898  23-10-2020 23:00    102.32  105.30    87.25
15899      (15895 rows)       NaN     NaN      NaN

[15900 rows x 4 columns]